@charset "UTF-8";
/*
0 - 600px : phone
600 - 900px : tablet portiat
900 - 1200px : tablet landscape
1200 - 1800 is where our normal styles
1800px + : Big desktop
*/
/*
$breakpoint argument choices : 
-phone
-tab-land
-big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300;500&family=Poppins:wght@100;300;400;500;600;700&display=swap");
.heading-main {
  font-size: 2.7rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 1.5rem;
  font-weight: 400;
}

.heading-tertinary {
  font-size: 0.9rem;
  font-weight: 300;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 21, 12, 0.3);
  z-index: -1;
  border: none;
}

.hero__poligon {
  position: absolute;
  overflow: hidden;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
          clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  z-index: -1;
}
.hero__poligon--img {
  position: absolute;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0px;
}
@media (min-width: 0px) and (max-width: 600px) {
  .hero__poligon {
    display: none;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  line-height: 1.7;
}

a {
  text-decoration: none;
  list-style: none;
}

.nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}
.nav__list {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav__items {
  margin: 0 2rem 0 2rem;
  color: white;
}
@media (min-width: 0px) and (max-width: 600px) {
  .nav__items {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .nav__items {
    display: block;
    margin: 0 1rem 0 1rem;
  }
}
.nav__items a {
  color: #333;
}
.nav__logo {
  color: #333;
  font-weight: 700;
  font-size: 1.25rem;
}
.nav__right {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__right .cart {
  position: relative;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav__right .cart__icon {
  color: #333;
}
.nav__right .cart__link {
  color: #d8d8d8;
}
.nav__right .cart__notification {
  position: absolute;
  display: inline-block;
  background-color: grey;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: -17px;
}
.nav__right .cart__notification span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  color: white;
}

.mobile-nav-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .mobile-nav-icon {
    display: none;
  }
}
.mobile-nav-icon span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #333;
  border-radius: 2px;
}

.btn {
  cursor: pointer;
  margin-top: 1rem;
  height: 60px;
  width: 220px;
  text-transform: uppercase;
}
.btn__explore {
  color: #444;
  background-color: white;
  border: none;
  font-weight: 700;
}

.slider-products {
  height: 100%;
  width: 300px;
  position: absolute;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}
.slider-products__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-products__1 {
  background-color: gray;
}
.slider-products__2 {
  background-color: rgb(155, 155, 155);
}

.input {
  margin-top: 1rem;
  height: 60px;
  width: 220px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.footer {
  text-align: center;
}
.footer-nav {
  text-align: center;
}
.footer-nav__title {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer-nav__list {
  text-decoration: none;
  list-style: none;
}
.hero {
  height: 60vh;
  position: relative;
}
.hero__title {
  color: white;
  font-size: 3rem;
}
@media (min-width: 0px) and (max-width: 600px) {
  .hero__title {
    font-size: 2rem;
  }
}
.hero__intro {
  text-transform: uppercase;
  color: white;
}
.hero__desc {
  max-width: 550px;
  color: white;
}
@media (min-width: 0px) and (max-width: 600px) {
  .hero__desc {
    display: none;
  }
}
.hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.hero__introduction {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 0px) and (max-width: 600px) {
  .hero__introduction {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.story {
  text-align: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story__content > *:not(:last-child) {
  margin-bottom: 1rem;
}
.story__content--title {
  margin-top: 2rem;
  font-weight: 400;
}
.story__content--link {
  display: block;
  margin-bottom: 2rem;
}

.featured {
  height: 40rem;
  background-color: whitesmoke;
  overflow-x: hidden;
  position: relative;
}
.featured__title {
  margin-top: 2rem;
  text-align: center;
  font-weight: 300;
  color: rgba(37, 37, 37, 0.768627451);
  position: relative;
}
.featured__title::before, .featured__title::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: rgba(165, 42, 42, 0.368627451);
  width: 40px;
  height: 1px;
}
.featured__title::before {
  transform: translateX(-50px);
}
.featured__title::after {
  transform: translateX(10px);
}
.featured__slider {
  margin-top: 1rem;
  width: 100%;
  height: 400px;
  position: relative;
}
.featured__slider--before {
  cursor: pointer;
}
.featured__slider--next {
  cursor: pointer;
}

.products {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  margin-top: 2rem;
}
.products__title {
  margin-top: 2rem;
  text-align: center;
  font-weight: 300;
  color: rgba(37, 37, 37, 0.768627451);
  position: relative;
}
.products__title::before, .products__title::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: rgba(165, 42, 42, 0.37);
  width: 40px;
  height: 1px;
}
.products__title::before {
  transform: translateX(-50px);
}
.products__title::after {
  transform: translateX(10px);
}
.products .products-show {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 0px) and (max-width: 600px) {
  .products .products-show {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .products .products-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.products .products-show__mug {
  max-width: 20rem;
  height: 30rem;
  text-align: center;
  position: relative;
}
.products .products-show__promo {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1rem;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.3rem 0.4rem;
  color: rgba(87, 41, 41, 0.644);
}
.products .products-show__button {
  position: absolute;
  border: none;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  background-color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: 90%;
  padding: 1rem 0.8rem;
  font-size: 0.9rem;
  color: rgba(68, 68, 68, 0.884);
}
.products .products-show__img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .products-show__name {
  display: block;
  color: black;
  font-size: 1.5rem;
}
.products .products-show__price {
  display: block;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  color: brown;
  font-family: "Dai Banna SIL", serif;
}

.promo {
  height: 50rem;
  width: 100%;
  background-color: whitesmoke;
}
@media (min-width: 0px) and (max-width: 600px) {
  .promo {
    height: 50rem;
  }
}
.promo__flex {
  height: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .promo__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .promo__flex {
    display: flex;
    justify-content: center;
  }
}
.promo__info {
  max-width: 500px;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .promo__info {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .promo__info {
    text-align: center;
  }
}
.promo__heading {
  text-align: center;
  font-weight: 300;
  color: rgba(37, 37, 37, 0.768627451);
  padding-top: 2rem;
  position: relative;
}
.promo__heading {
  padding-top: 2rem;
  text-align: center;
  font-weight: 300;
  color: rgba(37, 37, 37, 0.768627451);
  position: relative;
}
.promo__heading::before, .promo__heading::after {
  content: "";
  position: absolute;
  top: 70%;
  background-color: rgba(165, 42, 42, 0.37);
  width: 40px;
  height: 1px;
}
.promo__heading::before {
  transform: translateX(-50px);
}
.promo__heading::after {
  transform: translateX(10px);
}
.promo__offer {
  font-weight: 500;
  color: rgba(37, 37, 37, 0.768627451);
  color: rgba(68, 68, 68, 0.6588235294);
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.promo__intro {
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}
.promo__desc {
  margin-bottom: 1rem;
}

.promo-gallery {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1rem;
}
.promo-gallery__one {
  background-color: aqua;
  width: 300px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 1rem;
}
@media (min-width: 0px) and (max-width: 600px) {
  .promo-gallery__one {
    margin-right: 0;
  }
}
.promo-gallery__two {
  background-color: beige;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 150px;
  height: 150px;
}
@media (min-width: 0px) and (max-width: 600px) {
  .promo-gallery__two {
    display: none;
  }
}
.promo-gallery__three {
  background-color: bisque;
  width: 150px;
  height: 150px;
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (min-width: 0px) and (max-width: 600px) {
  .promo-gallery__three {
    display: none;
  }
}
.promo-gallery__images {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.imga {
  height: 25rem;
  width: 100%;
  background-image: url("../../src/assets/img/paralax-2.jpg");
  background-position: center;
  background-size: cover;
  /* Paralaksni efekat */
  background-attachment: fixed; /* Slika se ne pomera sa sadržajem */
  background-position: center center;
}

.stories {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
}
.stories__title {
  padding-top: 2rem;
  text-align: center;
  font-weight: 300;
  color: rgba(37, 37, 37, 0.768627451);
  position: relative;
}
.stories__title {
  padding-top: 2rem;
  text-align: center;
  font-weight: 300;
  color: rgba(37, 37, 37, 0.768627451);
  position: relative;
}
.stories__title::before, .stories__title::after {
  content: "";
  position: absolute;
  top: 70%;
  background-color: rgba(165, 42, 42, 0.37);
  width: 40px;
  height: 1px;
}
.stories__title::before {
  transform: translateX(-50px);
}
.stories__title::after {
  transform: translateX(10px);
}

.magazine {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 600px) {
  .magazine {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .magazine {
    display: block;
    max-width: 50rem;
    margin: 0 auto;
  }
}
.magazine__image {
  background-color: whitesmoke;
  height: 90%;
  width: 100%;
}
.magazine__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.magazine__title {
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}
.magazine__desc {
  font-weight: 400;
  color: grey;
  text-align: center;
  margin-top: 1rem;
}
.magazine__date {
  display: block;
  color: rgba(128, 128, 128, 0.582);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Dai Banna SIL", serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.email-update {
  height: 25rem;
  background-color: rgb(41, 24, 24);
  background-color: #1d1f2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.email-update h2 {
  color: white;
}
.email-update h1 {
  color: white;
}