.hero {
  height: 60vh;
  position: relative;
  &__title {
    color: white;
    font-size: 3rem;
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &__intro {
    text-transform: uppercase;
    color: white;
  }
  &__desc {
    max-width: 550px;
    color: white;
    @include respond(phone) {
      display: none;
    }
  }
  &__video {
    position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  &__introduction {
    position: absolute;

    @include left-mid;
    @include respond(phone) {
      @include abs-center;
      text-align: center;
    }
  }
}

.story {
  text-align: center;
  height: min-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__content {
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    &--title {
      margin-top: $page-margin-top;
      font-weight: $font-reg;
    }
    &--link {
      display: block;
      margin-bottom: $page-margin-bottm;
    }
  }
}

.featured {
  height: 40rem;
  background-color: whitesmoke;
  overflow-x: hidden;
  position: relative;

  &__title {
    margin-top: $page-margin-top;
    text-align: center;
    font-weight: $font-light;
    color: $section-title-color;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      background-color: #a52a2a5e;
      width: 40px;
      height: 1px;
    }
    &::before {
      transform: translateX(-50px);
    }
    &::after {
      transform: translateX(10px);
    }
  }
  &__slider {
    // background-color: rgba(255, 0, 0, 0.575);
    margin-top: 1rem;
    width: 100%;
    height: 400px;
    position: relative;

    &--before {
      cursor: pointer;
    }
    &--next {
      cursor: pointer;
    }
  }
}
.products {
  height: min-content;
  width: 100%;
  margin-top: $page-margin-top;
  // background-color: whitesmoke;
  &__title {
    margin-top: $page-margin-top;
    text-align: center;
    font-weight: $font-light;
    color: $section-title-color;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      background-color: rgba(165, 42, 42, 0.37);
      width: 40px;
      height: 1px;
    }
    &::before {
      transform: translateX(-50px);
    }
    &::after {
      transform: translateX(10px);
    }
  }
  .products-show {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    // & > :not(:last-child) {
    //   margin-bottom: 1rem;
    // }

    @include respond(phone) {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    @include respond(tab-land) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &__mug {
      // background-color: grey;
      // this is for image height and width
      // its a parent for images
      max-width: 20rem;
      height: 30rem;
      text-align: center;
      position: relative;
    }
    &__promo {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 1rem;
      background-color: white;
      text-transform: uppercase;
      font-weight: $font-bold;
      padding: 0.3rem 0.4rem;
      // background-color: #222;
      color: rgba(87, 41, 41, 0.644);
    }
    &__button {
      // control button with js
      position: absolute;
      border: none;
      bottom: 110px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1rem;
      background-color: white;
      text-transform: uppercase;
      font-weight: 600;
      width: 90%;
      padding: 1rem 0.8rem;
      font-size: 0.9rem;
      // background-color: #222;
      color: rgba(68, 68, 68, 0.884);
    }
    &__img {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
    &__name {
      display: block;
      color: black;
      font-size: 1.5rem;
      // background-color: black;
    }
    &__price {
      display: block;
      color: black;
      font-size: 2rem;
      font-weight: $font-light;
      color: brown;
      // background-color: black;
      font-family: "Dai Banna SIL", serif;
    }
  }
}
.promo {
  height: 40rem;
  background-color: whitesmoke;
  // background-color: red;
  @include respond(tab-land) {
    height: 50rem;
  }
  @include respond(phone) {
    height: 50rem;
  }
  &__flex {
    height: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;

    @include respond(tab-land) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    @include respond(phone) {
      display: flex;
      justify-content: center;
    }
  }

  &__info {
    max-width: 500px;
    @include respond(tab-land) {
      text-align: center;
    }
    @include respond(phone) {
      text-align: center;
    }
  }
  &__heading {
    text-align: center;
    font-weight: 300;
    color: rgba(37, 37, 37, 0.768627451);
    padding-top: 2rem;
    position: relative;
  }
  @include decorationHeading();
  &__offer {
    font-weight: 500;
    color: #252525c4;
    color: #444444a8;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__intro {
    color: #333;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__desc {
    margin-bottom: 1rem;
  }
}
.promo-gallery {
  margin-top: 2rem;
  margin-bottom: 2rem;

  height: min-content;
  display: grid;

  grid-template-columns: repeat(3, min-content);

  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1rem;
  &__one {
    background-color: aqua;
    width: 300px;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 1rem;
    @include respond(phone) {
      margin-right: 0;
    }
  }

  &__two {
    background-color: beige;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 150px;
    height: 150px;
    @include respond(phone) {
      display: none;
    }
  }

  &__three {
    background-color: bisque;
    width: 150px;
    height: 150px;
    grid-column: 2/3;
    grid-row: 2/3;
    @include respond(phone) {
      display: none;
    }
  }
  &__images {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.imga {
  height: 25rem;
  width: 100%;
  background-image: url("../../src/assets/img/paralax-2.jpg");
  background-position: center;
  background-size: cover;
  /* Paralaksni efekat */
  background-attachment: fixed; /* Slika se ne pomera sa sadržajem */
  background-position: center center;
}

.stories {
  height: min-content;
  width: 100%;
  &__title {
    padding-top: 2rem;
    text-align: center;
    font-weight: 300;
    color: rgba(37, 37, 37, 0.768627451);
    position: relative;
  }
  @include decoration;
}
.magazine {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0rem;
  @include respond(phone) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include respond(tab-land) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    background-color: whitesmoke;
    height: 400px;
    width: 500px;
    @include respond(phone) {
      width: 100%;
    }
    @include respond(tab-land) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__information {
    max-width: 400px;
    margin: 2rem 0;
    @include respond(tab-land) {
      max-width: 100%;
    }
    @include respond(phone) {
      max-width: 100%;
    }
  }
  &__title {
    font-weight: $font-med;
    text-align: center;
    margin-top: 1rem;
  }
  &__desc {
    font-weight: $font-reg;
    color: grey;
    text-align: center;
    margin-top: 1rem;
  }
  &__date {
    display: block;
    color: rgba(128, 128, 128, 0.582);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: $font-bold;
  }
}
.magazine-1 {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0rem;
  @include respond(phone) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include respond(tab-land) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    background-color: whitesmoke;
    height: 400px;
    width: 500px;
    order: 2;
    @include respond(phone) {
      width: 100%;
      order: 1;
    }
    @include respond(tab-land) {
      width: 100%;
      order: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__information {
    max-width: 400px;
    margin: 2rem 0;
    order: 1;
    @include respond(tab-land) {
      max-width: 100%;
      order: 2;
    }
    @include respond(phone) {
      max-width: 100%;
      order: 2;
    }
  }
  &__title {
    font-weight: $font-med;
    text-align: center;
    margin-top: 1rem;
  }
  &__desc {
    font-weight: $font-reg;
    color: grey;
    text-align: center;
    margin-top: 1rem;
  }
  &__date {
    display: block;
    color: rgba(128, 128, 128, 0.582);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: $font-bold;
  }
}
.magazine-2 {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0rem;
  @include respond(phone) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include respond(tab-land) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    background-color: whitesmoke;
    height: 400px;
    width: 500px;
    order: 2;
    @include respond(phone) {
      width: 100%;
      order: 2;
    }
    @include respond(tab-land) {
      width: 100%;
      order: 2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__information {
    max-width: 400px;
    margin: 2rem 0;
    order: 1;
    @include respond(tab-land) {
      max-width: 100%;
      order: 1;
    }
    @include respond(phone) {
      max-width: 100%;
      order: 1;
    }
  }
  &__title {
    font-weight: $font-med;
    text-align: center;
    margin-top: 1rem;
  }
  &__desc {
    font-weight: $font-reg;
    color: grey;
    text-align: center;
    margin-top: 1rem;
  }
  &__date {
    display: block;
    color: rgba(128, 128, 128, 0.582);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: $font-bold;
  }
}
.email-update {
  height: 25rem;
  background-color: rgb(41, 24, 24);
  background-color: #1d1f2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
  }
  h1 {
    color: white;
  }
}
