.heading-main {
  font-size: $text-primary;
  font-weight: $font-bold;
}
.heading-secondary {
  font-size: $text-secondary;
  font-weight: $font-reg;
}
.heading-tertinary {
  font-size: $text-tertinary;
  font-weight: $font-light;
}
