$primary-color: white;
$secondary-color: #797979;
// lights
$light-color: #d8d8d8;
$x-light-color: #cfcfcfe3;
$normal-color: #444;
$dark-color: #333;
// FONTS WEIGHT
// thin 100, light 300,regular 400, medium 500 , bold 700
$font-thin: 100;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-bold: 700;
// Sizes
$small: 1rem;
$x-small: 0.8rem;
$cart-icon-size: 25px;
$logo-size: 1.25rem;
// text sizes
$text-primary: 2.7rem;
$text-secondary: 1.5rem;
$text-tertinary: 0.9rem;
// MARGIN
$m-top-sm: 1rem;
// page margin
$page-margin-top: 2rem;
$page-margin-bottm: 2rem;

$section-title-color: #252525c4;

$font-secondary: "Dai Banna SIL", serif;
